<ul >
  {{#events}}
    <li>
        <h2>Event:&nbsp;{{ title }} </h2>
        <p>Description: &nbsp; {{ description }}</p>
        <p><button class="btn btn-danger">Remove</button></p>
    </li>
  {{/events}}
</ul>